---
// import DocCard from "@/components/DocCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getGroups } from "@/lib/contentParser.astro";

const { docs_folder } = config.settings;
const groups = await getGroups(docs_folder);
---

<Base title="Documentation">
  <h1>Documentation</h1>
  <ul>
    {groups.map((group) => (
      <li>
        <a href={`/docs/${group.slug}`} class="button">{group.data.title}</a>
      </li>
    ))}
  </ul>
</Base>

<!-- ---
import DocCard from "@/components/DocCard.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/components/PageHeader.astro";
import { getEntry } from "astro:content";

const { docs_folder } = config.settings;
const postIndex = await getEntry<any, string>(docs_folder, "-index");
const posts = await getSinglePage(docs_folder);
---

<Base
  title={postIndex.data.title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row">
          {
            posts.map((post) => (
              // Doc Card
              <div class="mb-4 md:mb-8 md:col-6 lg:col-4">
                  <DocCard data={post} />
              </div>
            ))
          }
      </div>
    </div>
  </section>
</Base> -->

<!-- ---
import Base from "@/layouts/Base.astro";
---

<Base title={"Docs"}>
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <div class="grid grid-cols-12">
          <p>DOCS</p>
        </div>
      </div>
    </div>
  </section>
</Base> -->