---
import BaseLayout from "@components/base/BaseLayout.astro";
import type { DocsEntry, MenuItem } from "@/types";
import DocBrowser from "@components/docs/Browser.astro";
import TableOfContents from "@components/common/TableOfContents.astro";

import { render } from "astro:content";
import EntryHeader from "@components/common/EntryHeader.astro";
interface Props {
  entry: DocsEntry;
  browserMenu: MenuItem[];
}

const { entry, browserMenu } = Astro.props;

const { Content, headings } = await render(entry);
const { title, description, hideNav, hideToc, image } = entry.data;

const globalHideNav = false;
const globalHideToc = false;
---

<BaseLayout title={title} image={image?.src} description={description}>
  <section class="flex flex-1 flex-col md:flex-row container p-4 lg:p-0">
    <div
      class=`hidden md:flex max-h-static_sidemenu sticky top-[5rem]
    ${hideToc && hideNav ? "w-screen" : "mr-4 md:w-1/4 lg:w-1/5"}`
    >
      {
        !globalHideNav && !hideNav && (
          <DocBrowser
            menu={browserMenu}
            currentPage={entry.id.replace("/-index", "")}
          />
        )
      }
    </div>
    <div class=`w-full ${hideToc && hideNav ? "" : "md:w-3/4 lg:w-3/5"}`>
      <article class="">
        <section class="">
          <EntryHeader entry={entry} showImage showPubDate />
        </section>
        <section class="content mb-4 glass px-4 rounded-lg">
          <Content />
        </section>
      </article>
    </div>
    <div
      class=`hidden lg:flex max-h-static_sidemenu sticky top-[5rem] ${hideToc && hideNav ? "" : "ml-4 lg:w-1/5"}`
    >
      {!globalHideToc && !hideToc && <TableOfContents {headings} />}
    </div>
  </section>
</BaseLayout>
