---
import Base from "@layouts/Base.astro";
import BlogCard from "@components/BlogCard.astro";
import Pagination from "@components/Pagination.astro";
import PageHeader from "@components/PageHeader.astro";
import BlogSidebar from "@components/BlogSidebar.astro";
import config from "@/config/config.json";
import type { BlogEntry } from "@/types";

interface Props {
  blogIndex: BlogEntry;
  entries: BlogEntry[];
  tags: string[];
  categories: string[];
  allCategories: string[];
  pageNumber: number;
}

const { blogIndex, entries, tags, categories, allCategories, pageNumber } = Astro.props;

const indexOfLastEntry = pageNumber * config.settings.pagination;
const indexOfFirstEntry = indexOfLastEntry - config.settings.pagination;
const currentEntries = entries.slice(indexOfFirstEntry, indexOfLastEntry);

const totalPages: number = Math.ceil(
  entries.length / config.settings.pagination
);
---

<Base title={blogIndex.data.title} description={blogIndex.data.description}>
  <PageHeader title={blogIndex.data.title} />
  <section class="section">
    <div class="flex container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-8">
          <div class="row">
            {
              currentEntries.map((entry) => (
                <div class="pb-4">
                  <BlogCard entry={entry} />
                </div>
              ))
            }
          </div>
          <Pagination
            section="blog"
            pageNumber={pageNumber}
            totalPages={totalPages}
          />
        </div>
        <!-- sidebar -->
        <div
          class="hidden lg:col-4 lg:flex max-h-static_sidemenu sticky top-[4rem]"
        >
          <BlogSidebar
            tags={tags}
            categories={categories}
            allCategories={allCategories}
          />
        </div>
      </div>
    </div>
  </section>
</Base>
