---
import { getTaxonomy, getAllTaxonomy } from "@/lib/taxonomyParser.astro";
import { upperHumanize } from "@/lib/utils/textConverter";
import PageHeader from "@/components/PageHeader.astro";
import Button from "@/components/Button.astro";

interface Props {
  collection: string;
  division: string;
}

const { collection, division }: Props = Astro.props;
const subdivisions = await getTaxonomy(collection, division);
const allSubdivisions = await getAllTaxonomy(collection, division);

---

<PageHeader title={division} />
<section class="section">
  <div class="container text-center">
    <ul>
      {
        subdivisions.map((subdivision: string) => {
          const count = allSubdivisions.filter((c) => c === subdivision).length;
          return (
            <li class="m-3 inline-block">
              <Button
                label=`${upperHumanize(subdivision)} (${count})`
                link={`/${collection}/${division}/${subdivision}`}
                hoverInvert
              />
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
