---
import Base from "@layouts/Base.astro";
import type { DocsEntry } from "@/types";
import DocBrowser from "@components/DocBrowser.astro";
import TableOfContents from "@components/TableOfContents.astro";
import { menu } from "@/lib/docUtils";
import config from "@/config/config.json";
import { markdownify } from "@/lib/textConverter";

import { render } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  entry: DocsEntry;
}

const { entry } = Astro.props;

const { Content, headings } = await render(entry);
const { title, description, hideNav, hideToc, image, imageAlt } = entry.data;
const pageIndex = new URL(Astro.request.url).pathname;
---

<Base
  title={title}
  image={image?.src}
  description={description}
>
  <section class="flex flex-1 flex-col md:flex-row container">
    <div
      class=`hidden md:flex max-h-static_sidemenu sticky top-[5rem]
    ${hideToc && hideNav ? "w-screen" : "mr-4 md:w-1/4 lg:w-1/5"}`
    >
      {
        !config.settings.hide_doc_browser && !hideNav && (
          <DocBrowser pageIndex={pageIndex} items={menu} level={0} />
        )
      }
    </div>
    <div class=`w-full ${hideToc && hideNav ? "" : "md:w-3/4 lg:w-3/5"}`>
      <article class="">
        <section class="">
          {
            image && (
              <div class="mb-8 mt-2">
                <Image
                  src={image}
                  height={500}
                  width={1200}
                  alt={imageAlt}
                  class="w-full rounded-lg"
                  format="webp"
                />
              </div>
            )
          }
        </section>
        <section class="content m-2 glass p-4 rounded-lg">
          <h1 set:html={markdownify(title)} class="mt-2" />
          <hr class="my-2" />
          <Content />
        </section>
      </article>
    </div>
    <div
      class=`hidden lg:flex max-h-static_sidemenu sticky top-[5rem] ${hideToc && hideNav ? "" : "ml-4 lg:w-1/5"}`
    >
      {
        !config.settings.hide_doc_toc && !hideToc && (
          <TableOfContents {headings} />
        )
      }
    </div>
  </section>
</Base>
