---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Testimonial from "@/components/Testimonial.astro";
import type { Button, Feature } from "@/types";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}

const homepage = await getEntryBySlug("homepage", "-index");
const testimonial = await getEntryBySlug("sections", "testimonial");
const call_to_action = await getEntryBySlug("sections", "call-to-action");
const { banner, features }: Homepage = homepage.data;
---

<Base>
  <!-- Banner -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-7">
          <h1 set:html={markdownify(banner.title)} class="mb-4" />
          <p set:html={markdownify(banner.content)} class="mb-8" />
          {
            banner.button.enable && (
              <a class="btn btn-primary" href={banner.button.link}>
                {banner.button.label}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <Testimonial testimonial={testimonial} />
</Base>
