---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import Testimonials from "@/components/Testimonials.astro";
import type { Button } from "@/types";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

interface item {
  name: string;
  designation: string;
  avatar: string;
  content: string;
}

interface Homepage {
  banner: {
    title: string;
    content: string;
    button: Button;
  };
  testimonials: {
    enable: boolean;
    title: string;
    description: string;
    items: item[];
  };
}

const homepage = await getEntry("home", "-index");
const { banner, testimonials }: Homepage = homepage.data;
---

<Base>
  <!-- Banner -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-7">
          <h1 set:html={markdownify(banner.title)} class="mb-4" />
          <p set:html={markdownify(banner.content)} class="mb-8" />
          {
            banner.button.enable && (
              <a class="btn btn-primary" href={banner.button.link}>
                {banner.button.label}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </section>
  <!-- /Banner -->

  <Testimonials testimonials={testimonials} />
</Base>
