<!-- ---
// Twinkling Star Background 
const numStars = 1600;
const stars = Array.from({ length: numStars }).map(() => ({
  left: `${Math.random() * 100}%`,
  top: `${Math.random() * 100}%`,
  size: `${Math.random() * 2 + 1}px`,
  delay: `${7 * Math.random()}s`,
  // hsl: `hsl(${Math.random() * 360}, 100%, 50%)`, // background: ${hsl}; 
}));
---
<div
  class="fixed top-0 left-0 w-full h-full pointer-events-none overflow-hidden"
>
  {
    stars.map(({ left, top, size, delay }) => (
      <div
        class="absolute bg-none dark:bg-yellow-50 rounded-full animate-twinkle"
        style={`
            left: ${left};
            top: ${top};
            width: ${size};
            height: ${size};
            animation-delay: ${delay};
        `}
      />
    ))
  }
</div> -->

<!-- Gradient Cycle Background -->
<!-- <div
  class="gradient animate-cycleBg fixed top-0 left-0 w-full h-full -z-1 pointer-events-none overflow-hidden"
/>
<style>
  .gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  }
</style> -->

<!-- Image Background -->
<style>
  body {
    background: url(/src/assets/backgrounds/bwca-day.png) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .dark & {
      /* Dark mode background */
      background: url(/src/assets/backgrounds/bwca-night.png) no-repeat center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
</style>
