<!-- ---
// Twinkling Star Background 
const numStars = 1024;
const stars = Array.from({ length: numStars }).map(() => ({
  left: `${Math.random() * 100}%`,
  top: `${Math.random() * 100}%`,
  size: `${Math.random() * 3 + 1}px`,
  delay: `${5 * Math.random()}s`,
}));
---
<div
  class="fixed top-0 left-0 w-full h-full -z-1 pointer-events-none overflow-hidden"
>
  {
    stars.map(({ left, top, size, delay }) => (
      <div
        class="absolute bg-black dark:bg-white rounded-full animate-twinkle"
        style={`
            left: ${left};
            top: ${top};
            width: ${size};
            height: ${size};
            animation-delay: ${delay};
        `}
      />
    ))
  }
</div> -->

<!-- Gradient Cycle Background -->
<!-- <div
  class="gradient animate-cycleBg fixed top-0 left-0 w-full h-full -z-1 pointer-events-none overflow-hidden"
/>
<style>
  .gradient {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
  }
</style> -->

<!-- Image Background -->
<!-- <style>
  body {
    background: url(/src/assets/backgrounds/mtn-lake.jpg) no-repeat center
      center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style> -->
