---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import type { HomeEntry } from "@/types";
import { Image } from "astro:assets";
import AstrogonStar from "@assets/astrogon-star.svg";

interface Props {
  entry: HomeEntry;
}

const { entry } = Astro.props;
const { banner } = entry.data;
---

<BaseLayout>
  <!-- Banner -->
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-6">
          <Image
            class="-mt-12 mb-6 rounded-lg w-64"
            src={AstrogonStar}
            width={1024}
            height={1024}
            alt="Astrogon Logo"
            format="webp"
          />
          <h1 set:html={markdownify(banner.title)} class="mb-4" />
          <p set:html={markdownify(banner.content)} class="mb-8" />
          {
            banner.button && (
              <Button
                label={banner.button.label}
                link={banner.button.link}
                newtab
                hoverInvert
                color=""
              />
            )
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
