---
import { lowerHumanize, upperHumanize } from "@/lib/utils/textConverter";
import {
  FaRegFolder,
  FaHashtag,
} from "react-icons/fa/index.js";
import Button from "@/components/Button.astro";

interface Props {
  tags: string[];
  categories: string[];
  allCategories: string[];
}

const { tags, categories, allCategories }: Props = Astro.props;
---

<div>
  <!-- categories -->
  <div class="glass rounded-lg p-4 m-2 mb-4">
    <div>
        <h4 class="mb-2">
          <a href="/blog/categories">
            <FaRegFolder className={"mr-1 -mt-1.5 inline-block"} />
            Categories
          </a>
        </h4>
        <hr class="mb-2 -mt-1 border-text dark:border-darkmode-text">
      <ul class="space-y-2">
        {
          categories.map((category: any) => {
            const count = allCategories.filter(
              (c: any) => c === category,
            ).length;
            return (
              <li>
                <a
                  class="hover:text-primary dark:hover:text-darkmode-primary"
                  href={`/blog/categories/${category}`}
                >
                  {upperHumanize(category)} <div class="inline-block pl-1">({count})</div>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
  <!-- tags -->
  <div class="glass rounded-lg p-4 m-2">
    <div>
      <h4 class="mb-2">
        <a href="/blog/tags">
          <FaHashtag className={"mr-1 -mt-1.5 inline-block"} />
          Tags
        </a>
      </h4>
      <hr class="mb-2 -mt-1 border-text dark:border-darkmode-text">
      <ul>
        {
          tags.map((tag: any) => {
            return (
              <li class="inline-block m-1">
                <Button
                  label={tag} 
                  link={`/blog/tags/${lowerHumanize(tag)}`}
                  type="secondary" 
                />
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>
