---
import {
  FaFacebook,
  FaTwitter,
  FaLinkedin,
  FaGithub,
  FaInstagram,
  FaYoutube,
  FaMastodon,
} from "react-icons/fa";

interface Props {
  facebookLink?: string;
  twitterLink?: string;
  linkedinLink?: string;
  githubLink?: string;
  instagramLink?: string;
  youtubeLink?: string;
  mastodonLink?: string;
}

const {
  facebookLink,
  twitterLink,
  linkedinLink,
  githubLink,
  instagramLink,
  youtubeLink,
  mastodonLink,
} = Astro.props;

const liClass = "inline-block px-1 intersect:animate-fade opacity-0";
const iconClass =
  "glass rounded text-txt-p dark:text-darkmode-txt-p flex h-9 w-9 items-center justify-center text-center";
---

<ul class="py-2 flex items-center">
  {
    facebookLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="Facebook"
          href={facebookLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">Facebook</span>
          <FaFacebook className="w-6 h-6" />
        </a>
      </li>
    )
  }
  {
    twitterLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="Twitter"
          href={twitterLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">Twitter</span>
          <FaTwitter className="w-6 h-6" />
        </a>
      </li>
    )
  }
  {
    linkedinLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="LinkedIn"
          href={linkedinLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">LinkedIn</span>
          <FaLinkedin className="w-6 h-6" />
        </a>
      </li>
    )
  }
  {
    githubLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="GitHub"
          href={githubLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">GitHub</span>
          <FaGithub className="w-6 h-6" />
        </a>
      </li>
    )
  }
  {
    instagramLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="Instagram"
          href={instagramLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">Instagram</span>
          <FaInstagram className="w-6 h-6" />
        </a>
      </li>
    )
  }
  {
    youtubeLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="YouTube"
          href={youtubeLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">YouTube</span>
          <FaYoutube className="w-6 h-6" />
        </a>
      </li>
    )
  }
  {
    mastodonLink && (
      <li class={liClass}>
        <a
          class={iconClass}
          aria-label="Mastodon"
          href={mastodonLink}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">Mastodon</span>
          <FaMastodon className="w-6 h-6" />
        </a>
      </li>
    )
  }
</ul>
